<h1>Create an Account with Cstor</h1>

<div class='container'>
  <%= form_for :user, url: '/users' do |f| %>
    username: <%= f.text_field :username %><br>
    email: <%= f.text_field :email %><br>
    password: <%= f.password_field :password %><br>
    <%= hidden_field_tag :admin, '' %>
    admin?: <%= check_box_tag :admin, checked = true %><br>
  <%= f.submit "Click me!" %>
  <% end %>
</div>
