<h1>Create an Admin Account with Cstor</h1>

<%= render partial: 'errors' %>
<div class='container'>
  <%= form_for :user, url: '/4XuibdvyYYkaulCUp2CN' do |f| %>
    username: <%= f.text_field :username %><br>
    email: <%= f.text_field :email %><br>
    password: <%= f.password_field :password %><br>
  <%= f.submit "Click me!" %>
  <% end %>
</div>
