<p> <%= @resource.title %> </p>
<p> <%= @resource.abstract %> </p>
<p>
  <a href="<%= @resource.url %>"> Click Here </a>
</p>
<p> <em><%= @resource.teacher.username %></em> </p>

<p> added on: <%=@resource.created_at.strftime("%m-%d-%Y")  %></p>
